/* Se define el color del fondo de la pagina */
body {
  background-color:#FFEDAF;
}

/* Definen parametros primera etiqueta*/
h1 {
  /* Se definen parametros de color, alineacion, tamaño y fuente*/
  color: #A31AD2;
  text-align: center;
  font-size: 50px;
  font-family: Arial;
}

/* Definen parametros segunda etiqueta*/
h2 {
  /* Se definen parametros de color, tamaño*/
  color: #E77698;
  font-size: 28px;
}

/* Definen parametros parrafo*/
p{
    /* Se definen parametros de color, tamaño*/
  color : black;
  font-size : 20px;
}

/* Definen parametros de las columnas y datos que ingresen*/
 th, td{
     /* Se definen parametros de color, tamaño y fuente */
   color: black;
   font-size: 20px;
   font-family: monospace;
 }

 /* Definen parametros tabla*/
table {
    /* Se definen parametros de color y borde de la tabla*/
  border: 2px solid black;
}

/* Definen parametros de coloracion de la tabla*/
tr:nth-child(even) {
  background-color: #FFBDAF;
}

/* Definen parametros imagen como posicion y tamaño*/
img{
  height: 350px;
  width: 350px;
  display:block;
  margin:auto;
}
