/* Se define el color del fondo de la pagina */
body {
  background-color: #a2faa7;
}
/* Definiciones de la primera etiqueta*/
h1 {
  /* Se definen parametros de color,  tamaño y fuente*/
  color:  #1266f0 ;
  font-family: 'Rubik', cursive;
  font-size: 65px;
  text-align: center;
}

/* Definiciones de parametros de parrafos */
p{
  /* Se definen parametros de color, tamaño y fuente*/
  color: black;
  font-size: 25px;
  font-family: 'Shadows Into Light Two', cursive;

}

/* Definiciones de la cuarta etiqueta */
h2{
    /* Se definen parametros de color, tamaño y fuente*/
  color: red;
  font-size: 25px;
  font-family: 'Rubik', cursive;
}

/* Formato del titulo francia*/
div{
      /* Tamaño letra*/
		  font-size: 15rem;
      /* Ubicacion*/
	    text-align: center;
      /* orden*/
      height:30vh;
      line-height: 30vh;
	    color: #fcedd8;
      /* letra*/
	   	font-family: 'Niconne', cursive;
	    font-weight: 100;
      /* colores y tamaño*/
      text-shadow: 5px 5px 0px #eb452b,
                  10px 10px 0px #efa032,
                  15px 15px 0px #46b59b,
                  20px 20px 0px #017e7f,
                  25px 25px 0px #052939,
                  30px 30px 0px #c11a2b,
                  35px 35px 0px #c11a2b,
                  40px 40px 0px #c11a2b,
                  45px 45px 0px #c11a2b;
}
