/* Define el color, alineacion, tamaño y fuente de la primera etiqueta*/
h1 {
  color:  #a02dea;
  text-align: center;
  font-size: 65px;
  font-family: 'Maiden Orange', cursive;
}

/* Se define el color del fondo de la pagina */
body{
  background-color: #62c6f4;
}

/* Define el color, alineacion, tamaño y fuente de la segunda etiqueta*/
h2 {
    /* Se definen parametros de color, alineacion, tamaño y fuente*/
  color :   #d435ee;
  text-align: center;
  font-size: 40px;
  font-family: 'Yatra One', cursive;
}

  /* Se definen parametros de color, tamaño y fuente de los parrafos de nuestra pagina*/
p{
  color: black;
  font-size: 23px;
  font-family: Arial;
  text-align: left;
}

/* Se define el formato de la imagen que se agrega en la pagina y tambien algunos detalles de esta*/
img {
  height: 300px;
  width: 400px;
  display:block;
  margin:auto;
  text-align: center;
}

/* Formato del titulo 2*/
span{
  /* posicion */
  position: absolute;
  /* ejes*/
  top: 50%;
  left: 50%;
  /* ubicacion*/
  transform: translate(-50%, -15%);
  /* tamaño fuente*/
  font-size:80px;
  /* espacio*/
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  /* color y posicion de la sombra */ 
  text-shadow:
						8px 8px #ff1f8f,
						20px 20px #000000;
}
