/* Definiciones de la primera etiqueta*/
h1 {
  /* Se definen parametros de color, alineacion, tamaño y fuente*/
  color:  #ff5733;
  text-align:center;
  font-family: verdana;
  font-size: 60px;
}

/* Se define el tamaño de la lista de datos de navegacion*/
li{
  font-size: 25px;
}
/* Definiciones de la segunda etiqueta*/
h2 {
    /* Se definen parametros de color, alineacion, tamaño y fuente*/
  color : black;
  text-align: left;
  font-size: 20px;
  font-family : Arial;
}

/* Definiciones de la tercera etiqueta*/
h3{
    /* Se definen parametros de color, alineacion, tamaño*/
  color: blue;
  text-align: left;
  font-size: 25px;
}

/* Definiciones de la vinculo*/
address{
      /* Se definen parametros de color, alineacion, tamaño y fuente*/
  color : white;
  text-align: left;
  font-size: 22px;
  font-family: Arial;
}

/* Definiciones del parrafo*/
p{
      /* Se definen parametros de color, alineacion, tamaño y fuente*/
  color: black;
  font-size: 20px;
  font-size: Arial;
}

/* Definiciones del marquee*/
marquee{
      /* Se definen parametros de color, tamaño y fuente*/
  color: black;
  font-size: 20px;
  font-size: Arial;
}

/* Definiciones del formulario*/
form{
      /* Se definen parametros de color, alineacion, tamaño */
  text-align: right;
  font-size: 20px;
  color : salmon;
}
/* Definiciones de los labels*/
label{
      /* Se definen parametros de color,tamaño */
  font-size: 20px;
  color : salmon;
}
