/* Se define el color del fondo de la pagina */
body {
  background-color: #59e89a;
}
/* Definiciones de la primera etiqueta*/
h1 {
  /* Se definen parametros de color,  tamaño y fuente*/
  color:   #35ec0c;
  font-family: Arial;
  font-size: 60px;
}

/* Definiciones de la segunda etiqueta*/
h2 {
    /* Se definen parametros de color, alineacion, tamaño y fuente*/
  color : black;
  text-align: center;
  font-size: 35px;
  font-family: 'Lobster', cursive;
}

/* Definiciones de la tercera etiqueta*/
h3{
    /* Se definen parametros de color, alineacion, tamaño*/
  color: blue;
  text-align: center;
  font-size: 30px;
font-family: 'Lobster', cursive;
}

/* Definiciones de parametros de parrafos */
p{
  /* Se definen parametros de color, tamaño y fuente*/
  color: black;
  font-size: 23px;
  font-family: Arial;
}

/* Definiciones de la cuarta etiqueta */
h4{
    /* Se definen parametros de color, tamaño y fuente*/
  color:  #0ceca1;
  font-size: 25px;
  font-family: 'Bungee', cursive;
}
