/* DISEÑO DE PAGINA DE REGISTRO */
/* Se describe el formato de la etiqueta 1 con su tamaño, color, fuente y alineacion */
h1{
  font-size: 80px;
  color : blue;
  font-family: 'Kavoon', cursive;
  text-align: center;
}

/* Se describe el formato de la etiqueta 2 con su tamaño, color, fuente y alineacion */
h2 {
  font-size: 40px;
  color : black;
  text-align: center;
  font-family: Arial;
}

/* Se describe el formato del parrafo*/
p{
  color : black;
  text-align: left;
  font-family: monospace;
  font-size: 25px;
}
